.idea/
mailape/.env
venv/
/__pycache__/
mailape/mailape/__pycache__/
/mailape/mailinglist/__pycache__/
mailape/user/__pycache__/
mailape/user/migrations/__pycache__/
/mailape/mailinglist/migrations/__pycache__/
